# TFTP Server Configuration
TFTP_ROOT=/srv/docker/tftp
WEB_ROOT=/srv/docker/www
WEB_PORT=8080

# Mode selection. Use tftp-web for TFTP + web server, or tftp-only for TFTP alone.
COMPOSE_PROFILES=tftp-web
